  <title>Stairways</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    'gmaps4rails' %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
  <%#= yield :head %>
</head>
<body>

<%= gmaps("markers" => {"data" => @json, "options" => {"rich_marker" => true } }) %>
<%= yield :scripts %>

<table class="table">
  <th>
      Stairway Name
    <td>
      Number of Stairs
    </td>
  </th>
  <%@stairways.each do |stairway|%>
    <tr>
      <td>
        <%= stairway.name %>
      </td>
      <td>
        <%= stairway.stairs %>
      </td>
    </tr>
  <%end%>
</table>
