  <title>Stairways</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    'gmaps4rails' %>
  <%#= javascript_include_tag "application" %>
  <%#= csrf_meta_tags %>
  <%#= yield :head %>
</head>
<body>

<%= gmaps( :kml => {:data => '[ { url:"http://www.communitywalk.com/xml/kml/388644?lat=47.628843&lng=-122.266846&zoom=11"}]' } ) %> <%= yield :scripts %>

<table class="table">
  <th>
      Stairway Name
    <td>
      Number of Stairs
    </td>
    <td>
      Times Completed by Everyone
    </td>
  </th>
  <%@stairways.each do |stairway|%>
    <tr>
      <td>
        <%= stairway.name %>
      </td>
      <td>
        <%= stairway.stairs %>
      </td>
      <td>
        <%= stairway.user_runs.count %>
      </td>
    </tr>
  <%end%>
</table>
